<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819296277500-k574i0qnr0fgs7v4di6hjdor072cfe6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819296277500-k574i0qnr0fgs7v4di6hjdor072cfe6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDec3eCvAFhxwz1UWcna7PlvFVg81GE2fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>819296277500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovative.solutions.qurantafseer</string>
	<key>PROJECT_ID</key>
	<string>quran-tafseer-videos</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-tafseer-videos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819296277500:ios:ae261fa5a6875ca60dd879</string>
</dict>
</plist>